{% extends 'base.html' %}

{% block page %}
<header class="masthead" style="background-image: url('/media/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Duck Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            {% for article in articles %}
            <div class="post-preview">
                <a href="{% url 'article' article.pk %}">
                    <h2 class="post-title">
                        {{ article.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ article.subtitle }}
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">{{ article.author.username }}</a>
                    on {{ article.publish_date }}</p>
            </div>
            <hr>
            {% endfor %}

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}